* {
    margin: 0;
    padding: 0;
}

.headerDiv {
    width: 100%;
    height: 100px;
    background-color: #252c41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 70px;
}
.dateDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 70px;
}
.dateDiv .date {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2em;
    font-family: "Arial";
}
.dateDiv .btn1 {
    background: url("btn1.png") no-repeat;
    border: none;
    width: 32px;
    height: 36px;
    cursor: pointer;
}
.dateDiv .btn2 {
    background: url("btn2.png") no-repeat;
    border: none;
    width: 32px;
    height: 36px;
    cursor: pointer;
}
.sign {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #ffffff;
    margin-right: 70px;
}
.menubar {
    display: none;
}
.container {
    width: 100%;
    height: 800px;
    background: #f4f5f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container1 {
    width: 100%;
    height: 600px;
    background: #f4f5f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container ul {
    list-style: none;
}
aside {
    width: 20%;
    height: 720px;
    background-color: #dddfe6;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: Georgia;
}
nav ul {
    padding: 20px;
}
nav ul li {
    padding: 5px;
    border-bottom: groove 4px;
}
.menu {
    display: none;
}
main {
    width: 70%;
    height: 700px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.ct {
    width: 60%;
    height: 700px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.ct1 {
    width: 50%;
    height: 500px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.day {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

.day div {
    color: #FFFFFF;
    display: flex;
    height: 30px;
    border-radius: 10px;
    background-color: #252c41;
    align-items: center;
    justify-content: center;
    width: 12%;
    margin: 10px;
}
.calendar {
    width: 100%;
    display: grid;
    height: 640px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.calendar .da {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.schedule {
    width: 100%;
    text-align: center;
    background-color: #252c41;
    color: white;
    border-radius: 5px;
    margin: 2px;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #252c41;
}
.category {
    margin-bottom: 200px;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputbox {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.textbox {
    width: 400px;
    height: 50px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 3px;
}
.title {
    font-family: Georgia;
    margin-bottom: 30px;
}
.title1 {
    font-family: Georgia;
}
.button {
    width: 400px;
    padding: 21px 0 17px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #252c41;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.button1 {
    width: 400px;
    padding: 21px 0 17px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #252c41;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.footer {
    width: 100%;
    height: 150px;
    background-color: #252c41;
}

@media (max-width: 850px) {
    .headerDiv {
        height: 80px;
    }
    .logo {
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
    .dateDiv {
        width: 400px;
        height: 50px;
    }

    .dateDiv .date {
        font-size: 15px;
    }

    .sign {
        display: none;
    }
    .menubar {
        display: inline-block;
        margin-right: 20px;
    }
    .container {
        height: 600px;
    }
    aside {
        display: none;
    }
    .menu {
        z-index: 99;
        position: fixed;
        top: 0;
        width: 70%;
        right: 0;
        bottom: 0;
        background: #fff;
    }
    main {
        width: 95%;
        height: 480px;
        border-radius: 15px;
        margin-right: 0px;
        padding: 5px 5px 5px 5px;
    }
    .day div {
        font-size: 12px;
    }
    .calendar {
        height: 400px;
    }
    .calendar .da {
        align-items: center;
    }
    .schedule {
        width: 15px;
        height: 15px;
        border-radius: 30px;
    }
    .text {
        display: none;
    }
    footer {
        height: 400px;
    }
}
