* {
    margin: 0;
    padding: 0;
    font-family: 'Hanna', sans-serif;
}

.headerDiv {
    width: 100%;
    height: 100px;
    background-color: #252c41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 70px;
}
.dateDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 70px;
}
.date {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2em;
}
.date div {
    padding: 0px 5px 0px 5px;
}
.dateDiv .btn1 {
    background: url("../image/btn1.png") no-repeat;
    border: none;
    width: 32px;
    height: 36px;
    cursor: pointer;
}
.dateDiv .btn2 {
    background: url("../image/btn2.png") no-repeat;
    border: none;
    width: 32px;
    height: 36px;
    cursor: pointer;
}
.sign {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #ffffff;
    margin-right: 70px;
}

.container {
    width: 100%;
    height: 800px;
    background: #f4f5f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container1 {
    width: 100%;
    height: 600px;
    background: #f4f5f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container ul {
    list-style: none;
}
aside {
    width: 20%;
    height: 720px;
    background-color: #dddfe6;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /*font-family: Georgia;*/
}
nav ul {
    padding: 20px;
}
nav ul li {
    padding: 5px;
    border-bottom: groove 4px;
}
main {
    width: 70%;
    height: 700px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.signupContainer {
    width: 60%;
    height: 500px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.ct {
    width: 60%;
    height: 700px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.ct1 {
    width: 50%;
    height: 600px;
    background-color: #dddfe6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 2px 2px #252c41;
}
.day {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

.day div {
    color: #FFFFFF;
    display: flex;
    height: 30px;
    border-radius: 10px;
    background-color: #252c41;
    align-items: center;
    justify-content: center;
    width: 12%;
    margin: 10px;
}
.calendar {
    width: 100%;
    display: grid;
    height: 640px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.calendar .da {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.signup p {
    margin-top: 10px;
}
.signup select {
    border-radius: 10px;
    width: 100px;
    flex-direction: column;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: .8em .5em;
    margin-top: 10px;
}
.schedule {
    width: 100%;
    text-align: center;
    background: rgb(37,44,65);
    color: white;
    border-radius: 5px;
    margin: 2px;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #252c41;
}
.category {
    margin-bottom: 200px;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.signup span {
    display: none;
}
.signup input {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px;
}
.signup input[type='date'] {
    padding: 0;
    flex-direction: row;
    font-size: 20px;
    padding: 0px 70px 0px 70px;
}

.title {
    /*font-family: Georgia;*/
    margin-bottom: 30px;
}
.button {
    width: 400px;
    padding: 21px 0 17px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #252c41;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.button1 {
    width: 400px;
    padding: 21px 0 17px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #252c41;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.footer {
    width: 100%;
    height: 150px;
    background-color: #252c41;
}
.saveBtn {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #252c41;
    color: #FFFFFF;
    margin: 20px;
}
.categoryModal {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,.5)
}
.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 10px;
}
.categoryBtn {
    background: #dddfe6;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.menubar {
    display: none;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menuSide {
    position: absolute;
    background:rgba(0,0,0,.5);
    height: 100%;
    width: 50%;
}

.menuContent {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;
    background: #f4f5f9;
}
.menuContent li {
    list-style: none;
    margin : 50px 40px;
    font-size: 30px;
    font-family: 'Hanna', sans-serif;
}
.headerMenu {
}

@media (max-width: 850px) {
    .headerDiv {
        height: 80px;
    }
    .logo {
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
    .dateDiv {
        width: 400px;
        height: 50px;
    }

    .dateDiv .date {
        font-size: 15px;
    }

    .sign {
        display: none;
    }

    .container {
        height: 600px;
    }
    aside {
        display: none;
    }
    main {
        width: 95%;
        height: 480px;
        border-radius: 15px;
        margin-right: 0px;
        padding: 5px 5px 5px 5px;
    }
    .day div {
        font-size: 12px;
    }
    .calendar {
        height: 400px;
    }
    .calendar .da {
        align-items: center;
    }
    .schedule {
        width: 15px;
        height: 15px;
        border-radius: 30px;
    }
    .text {
        display: none;
    }
    footer {
        height: 400px;
    }
    .menubar {
        display: inline-block;
        margin-right: 20px;
    }
}



