<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sunlendar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../static/logo/logo.png">
            <div class="right">
                {% if user.is_authenticated %}
                    안녕하세요 {{ user.get_username }}님
                    <a href="{% url 'logout' %}">로그아웃</a>
                {% else %}
                    <a href="{% url 'login' %}">로그인</a>
                    <a href="{% url 'signup' %}" class="member">
                        회원가입
                    </a>
                {% endif %}

            </div>
            <div>
                <h1 class="date">
                    xxxx년 {{ }}월 xx일
                </h1>
            </div>

        </div>
    </header>
    {% block container %}
    <div class="subcontainer">
        <a href="{% url 'schedule' %}">일정등록</a>
    </div>
    {% endblock %}
</body>
</html>
