<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Sunlendar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="headerDiv">
            <img class="logo" src="../static/image/로고.png">
            <div class="dateDiv">
                <input type="button" class="btn1">
                <div class="date">
                    {{ nowYear }}년 {{ nowMonth }}월 {{ nowDay }}일
                </div>
                <input type="button" class="btn2">
            </div>
            <div class="sign">
                {% if user.is_authenticated %}
                    안녕하세요 {{ user.get_username }}님
                    <a href="{% url 'logout' %}">로그아웃</a>
                {% else %}
                    <a href="{% url 'login' %}">로그인</a>
                    <a href="{% url 'signup' %}" class="member">
                        회원가입
                    </a>
                {% endif %}
            </div>
            <div class="menubar"><img src="menubar.png"></div>
            <div class="menu" style="opacity: 0; visibility: hidden">
                <ul>
                    <li>로그인</li>
                    <li>회원가입</li>
                </ul>
            </div>
        </div>
    </header>
    {% block container %}
    {% endblock %}
</body>
</html>
