{% extends 'base.html' %}
{% block container %}
<div class="subcontainer">
    <a href="{% url 'schedule' %}">일정등록</a>
    <a href="{% url 'category' %}">카테고리등록</a>
</div>
<div class="ct">
    <h1>일정 등록</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">저장</button>
    </form>
</div>
{% endblock %}
<div class="container1">
    <div class="ct1">
        <form class="signup" name="signup" method="post">
            <h1 class="title">SIGN IN</h1>
            <div class="inputbox"><label for="id">아이디</label><input class="textbox" type="text" placeholder="이름을 입력하세요" id="id"></div>
            <div class="inputbox"><label for="pw">비밀번호</label><input class="textbox" type="password" placeholder="비밀번호를 입력하세요" id="pw"></div>
            <div><button class="button1" type="button"><span>로그인</span></button></div>
        </form>
    </div>
</div>
<div class="footer">

</div>