{% extends 'base.html' %}
{% block container %}
<div class="container">
            <aside>
            <nav>
                <div>
                    <div style="font-size: 20px; font-weight: bold; margin: 20px">
                        MENU
                    </div>
                    <div>
                        <ul>
                            <li><a style="padding: 5px" href="{% url 'schedule' %}">일정등록</a></li>
                            <li>
                                <button onclick="modalOnOff('categoryModal', true)" class="categoryBtn">카테고리등록</button>
                                <div class="categoryModal">
                                    <div class="modalContent">
{#                                        <input type="text" class="categorySub">#}
{#                                        <button onclick="modalOnOff('categoryModal', false)">닫기</button>#}
{#                                        <button type="submit">카테고리 등록</button>#}
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ catego.as_p }}
                                            <button type="submit">저장</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li><div style="padding: 5px">설정</div></li>
                        </ul>
                    </div>
                </div>
                <div class="category">
                    <div style="font-size: 20px; font-weight: bold; margin: 20px">
                        CATEGORY
                    </div>
                    <div>
                        <ul class="categoryName">
                        </ul>
                    </div>
                </div>
            </nav>
        </aside>
        <main>
            <div class="day">
                <div>SUN</div>
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div>SAT</div>
            </div>
            <div class="calendar">
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
                <div class="da"></div>
            </div>
        </main>
    </div>

    <footer>
    </footer>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    let arr = [];
    {% for schedule in post %}
        arr.push({
            startDate: '{{ schedule.startDate }}',
            lastDate: '{{ schedule.lastDate }}',
            title: '{{ schedule.title }}',
            content: '{{ schedule.content }}',
            categoryNum: '{{ schedule.categoryNum}}'
        });
    {% endfor %}
    let now = new Date();
    let firstDate = new Date(now.getFullYear(), now.getMonth(), 1).getDay();
    let lastlast = new Date(now.getFullYear(), now.getMonth(), 0).getDate()
    let lastDate = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate();
    let dates = document.querySelectorAll('.calendar div');
    let add = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
    let addDay = 1
    for (let i = firstDate; i < lastDate + firstDate; i++) {
        dates[i].innerHTML = add[i-firstDate];
    }
    for (let i = firstDate - 1; i >= 0; i--) {
        dates[i].innerHTML = lastlast;
        lastlast--
    }
    for (let i = lastDate + firstDate ; i < 35; i++) {
        dates[i].innerHTML = addDay;
        addDay++
    }

    for (let i = 0; i < arr.length; i++) {
        let startMom = moment(arr[i]['startDate'], "YYYY-M-D HH:mm")
        let lastMom = moment(arr[i]['lastDate'], "YYYY-M-D HH:mm")
        let mom = parseInt(startMom.format("DD"))
        let mom2 = parseInt(lastMom.format("DD"))
        for (let j = firstDate; j < lastDate; j++) {
            if (parseInt(mom + firstDate - 1) == j) {
                for (let k = j; k <= j + mom2 - mom; k++) {
                    dates[k].innerHTML += "<div class='schedule'><div class='text'> " + arr[i]['title'] + "</div></div>";
                }
            }
        }
    }
    let categoryArr = [];
    {% for cat in cat %}
        categoryArr.push('{{ cat.categoryName }}');
    {% endfor %}
    let category = document.querySelector('.categoryName');
    console.log(category);
    for (let i = 0; i < categoryArr.length; i++) {
        console.log(categoryArr[i]);
        category.innerHTML += "<li>" + "<input type='checkbox' style='margin: 5px'>" + categoryArr[i] + "</li>";
    }
    let categoryModal = document.querySelector(".categoryModal");
    function modalOnOff(modalName, show) {
        switch (modalName) {
            case "categoryModal":
                categoryModal.style.display = show ? 'block' : 'none';
                break
        }
    }
    let cateData = document.querySelector(".categorySub");
    console.log(cateData)
    let formData = new FormData();
    formData.append("categoryName", "");
    fetch('/category/', {
        method: "post",
        body: formData,
    }).then(response => response.json())
    .catch(error => console.error('Error:', error))
    .then(response => console.log('Success:', JSON.stringify(response)));
</script>
{% endblock %}
