{% extends 'base.html' %}
{% block container %}


<div class="subcontainer">
    <a href="{% url 'schedule' %}">일정등록</a>
</div>
<div class="ct">
    <div class="titlecontainer">
        <div class="day">Sunday</div>
        <div class="day">Monday</div>
        <div class="day">Tuesday</div>
        <div class="day">Wednesday</div>
        <div class="day">Thursday</div>
        <div class="day">Friday</div>
        <div class="day">Saturday</div>
    </div>
    <div class="container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<script>
    let arr = [];
    let dictionary = {};
    {% for schedule in post %}
        arr.push({
            startDate: '{{ schedule.startDate }}',
            lastDate: '{{ schedule.lastDate }}',
            title: '{{ schedule.title }}',
            content: '{{ schedule.content }}',
            categoryNum: '{{ schedule.categoryNum}}'
        });
    {% endfor %}
    let now = new Date();
    let firstDate = new Date(now.getFullYear(), now.getMonth(), 1).getDay();
    let lastlast = new Date(now.getFullYear(), now.getMonth(), 0).getDate()
    let lastDate = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate();
    let dates = document.querySelectorAll('.container div');
    let add = 1;
    let add2 = 1;
    for (let i = firstDate; i < lastDate + firstDate; i++) {
        dates[i].innerHTML = add;
        add++
    }
    for (let i = firstDate - 1; i >= 0; i--) {
        dates[i].innerHTML = lastlast;
        lastlast--
    }
    for (let i = lastDate + firstDate ; i < 35; i++) {
        dates[i].innerHTML = add2;
        add2++
    }
</script>
{% endblock %}