<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <h1>로그인</h1>
        <form action="#">
            <label for="loginid">아이디</label>
            <input type="text" id="loginid"><br>
            <label for="loginpw">비밀번호</label>
            <input type="password" id="loginpw">
            <div>
                <input type="submit" id="loginbtn" value="로그인">
                <label for="loginbtn"></label>
            </div>
        </form>
    </div>
</body>
</html>